@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-clean {
    padding-right: 2.5rem !important;
}

.leaflet-container {
    border-radius: 1.5rem;
    z-index: 1 !important;
}